<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Builder">
    <ngx-survey-form-builder
        [form]="form"
        (changes)="onChange($event)"
        [enableEditFieldValues]="false"
    >
    </ngx-survey-form-builder>
  </mat-tab>
  <mat-tab label="Preview">
    <ngx-survey #survey
        [form]="form"
        [(value)]="model"
        (submit)="onFormSubmit($event)"
    >
    </ngx-survey>
    <button mat-raised-button color="primary" class="submit-button" (click)="survey.submitForm()" [disabled]="submitDisabled">Submit</button>
  </mat-tab>
  <mat-tab label="Model">
    <pre>{{ form | json }}</pre>
  </mat-tab>
</mat-tab-group>
